<h1><%= @user.first_name %>, here are all your matches</h1>

<% @matches.each do |match|%>

  <%= match.first_name %>
  <img width="100" height "100" src="<%= match.prof_img %>">

<% end %>

<!-- <a href="users/<#%= @user.id %>/likes/new">Find New Matches</a> -->

