// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
* {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #ff7258
}

// $navbar-default-bg:         white;
// $jumbotron:            black;

.body{
    color: rgb(255, 255, 255);
    margin: 0 auto;
    position: relative;
    min-height: 825px;
    margin-top: -20px;

    background: url("http://c4.staticflickr.com/4/3840/14867493817_f7254e9846_h.jpg") no-repeat scroll 0px 100% / cover transparent;
}

// #timber-logo{
//   background: image-path('timber-logo.png'); // no-repeat center 
// }

.jumbotron{
  opacity: 0.85;
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  border-radius: 25px;
}

.jumbotron-j{
  opacity: 0.9;
  width: 550px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 25px;
  padding: 50px;
}

.navbar-header{
}



// .row{
//     // height:200px;
//     // width:200px;
//     overflow:hidden;
//     border-radius:50%;
// }

// .row img{
//     -webkit-transform:translate(-50%);
//     margin-left:100px;
// }

.thumbnail{
    width:500px;
    height:500px;
    border-radius:50%;
    // background-image:url("http://placekitten.com/g/200/400");
    display:block;
    background-position-y:25% 
}


.panel-heading.center img {
display: block;
margin: 0 auto;
max-width: 100%;
width: 100%;
}

.caption {
padding: 10px 10px 10px 10px;
}

.fa-close {
color: white;
color: white;
}

.img-nice-square {
  border-radius: 5px;
}

.decision-btn {
  float: left;
  margin-right: 5px;
}



